* { 
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white
}

body {
    background-color: rgb(10, 10, 10);
}

label {
    margin: 10px;
}

input {
    margin: 5px;
}

.datos {
    color:rgb(10, 10, 10);
}

.boton {
    font-weight: bold;
}

p {
    font-size: 25px;
}

#Resultado {
font-size: 30px;
margin: 5px;
}